body {
    position: relative;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 220px;
    background: url(../upload/banner_bg.png) center;
    z-index: -999;
}

.topbar {
    position: relative;
    height: 90px;
    width: 100%;
    padding: 0 17px;
}

.topnav {
    position: relative;
    width: 100%;
    height: 44px;
}

.category {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 30px;
    background: url(../images/cate.png) no-repeat;
    background-size: 18px auto;
}

.mime {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 30px;
    background: url(../images/mime.png) no-repeat;
    background-size: 18px auto;
}

.gif {
    display: block;
    width: 190px;
    height: 38px;
    background: url(../images/adv.gif) no-repeat;
    background-size: 190px auto;
    margin: 0 auto;
}

.search {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 7px;
    line-height: 32px;
    font-size: 12px;
    color: #000;
    background-color: #f7f7f7;
    border-radius: 16px;
}

.search::before {
    position: absolute;
    left: 10px;
    top: 7px;
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/magnifier.png);
    background-size: 18px auto;
}

.search input {
    height: 100%;
    width: 100%;
    text-indent: 40px;
    font-size: 12px;
}

/* banner */
.preferential {
    position: relative;
    overflow: hidden;
    height: 115px;
    margin: 0 12px;
    border-radius: 10px;
}

.preferential img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.newyear a {
    float: left;
    display: block;
    width: 33.33%;
}

.newyear a img {
    width: 100%;
}

/* 主导航 */
.nav {
    width: 100%;

}

.nav ul li a {
    display: flex;
    float: left;
    width: 20%;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.nav ul li a img {
    height: 42px;
    width: 42px;
}

/* 新人礼包 */
.package {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    /* height: 116px; */
    border-radius: 10px;
}

.package a {
    display: block;
    float: left;
}

.package a img {
    width: 100%;
}

.package a:nth-child(1) {
    width: 50%;
}

.package a:nth-child(2) {
    width: 25%;
}

.package a:nth-child(3) {
    width: 25%;
}

.package a:nth-child(n+2) {
    padding-left: 2px;
}

/* 推荐 */
.recommend {
    position: relative;
    margin: 0 12px;
    margin-top: 20px;
    height: 258px;
}

.recommend>div {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.recommend::after {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #f7f7f7;
}

.recommend>div>div {
    padding: 10px 0 0 10px;
    height: 50%;
}

.recommend a img {
    width: 60px;
}

.recommend a {
    float: left;
    width: 50%;
    text-align: center;
}

.recommend>div>div h3 {
    color: #000;
}

.recommend>div>div a span {
    color: red;
}

/* 猜你喜欢 */
.guess {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 52px;
}

.guess div:first-child {
    height: 30px;
    width: 100%;
    background: #f7f7f7 url(../images/cnxh.webp) no-repeat;
    background-size: contain;
}

.guess section {
    width: 100%;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    color: #ccc;
}

/* 底部导航栏 */
footer {
    width: 100%;
    max-width: 640px;
    height: 51px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 20%;
}

footer a img {
    width: 24px;
    margin-top: 5px;
}